<div class="align-center">
  <form>
    <div class="container">
      <div class="item">

        <mat-label>Name</mat-label>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>

        <mat-label>Description</mat-label>
        <mat-form-field appearance="fill">
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-label>Quantity</mat-label>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>

        <mat-label>Price</mat-label>
        <mat-form-field appearance="fill" floatLabel="always">
          <input matInput type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

       <mat-label>Type</mat-label>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option value="bushes">Bushes</mat-option>
            <mat-option value="climbers">Climbers</mat-option>
            <mat-option value="fern">Fern</mat-option>
            <mat-option value="fruit_trees">Fruit Trees</mat-option>
            <mat-option value="orchids">Orchids</mat-option>
            <mat-option value="juicy">Juicy</mat-option>
            <mat-option value="landscaping">Landscaping</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="item">
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" />
        </div>
      </div>
    </div>

    <!-- TODO - Add color --->
    <button mat-raised-button color="">Cancel</button>
    <button mat-raised-button color="">Save</button>
    <!--  <button mat-raised-button color="" type="submit" value="{{ btnText }}">Save</button>-->

  </form>
</div>

